Repository ClipScribe/tech-note, pull requests merged in 2024-11, with the labels that each got.

#7 [FE] 사이드바에 표시되는 영상 해설 기능을 구현한다.
  frontend/assets/global.css
  frontend/components/AppHeader.vue
  frontend/components/CommentaryItem.vue
  frontend/components/CommentarySidebar.vue
  frontend/components/ScrollableContent.vue
  frontend/components/TogglePositionButton.vue
  frontend/components/VideoPlayer.vue
  frontend/composables/useAutoDisplayCommentary.ts
  frontend/composables/useCreateHtml.ts
  frontend/composables/useDebounce.ts
  frontend/composables/useFormatTime.ts
  frontend/layouts/default.vue
  frontend/pages/video.vue
  frontend/stores/commentaryStore.ts
  frontend/stores/videoStore.ts
  frontend/types/commentary.ts
Labels: ✨feature

#10 [BE/API] video 도메인의 Kafka Consumer를 구현한다.
  backend/api-server/src/main/java/com/wizard/api_server/external/kafka/config/KafkaConsumerConfig.java
  backend/api-server/src/main/java/com/wizard/api_server/external/kafka/consumer/.gitkeep
  backend/api-server/src/main/java/com/wizard/api_server/external/kafka/video/VideoCommentaryConsumer.java
  backend/api-server/src/main/java/com/wizard/api_server/external/kafka/video/dto/VideoCommentary.java
Labels: 🌱 api-server, 🔒 backend

#11 [BE/API] VideoService가 DIP 를 지키도록 리팩토링한다.
  backend/api-server/src/main/java/com/wizard/api_server/domain/event/DomainEvent.java
  backend/api-server/src/main/java/com/wizard/api_server/domain/event/DomainEventPublisher.java
  backend/api-server/src/main/java/com/wizard/api_server/domain/video/event/SendVideoLinkEvent.java
  backend/api-server/src/main/java/com/wizard/api_server/domain/video/event/VideoEventPublisher.java
  backend/api-server/src/main/java/com/wizard/api_server/domain/video/service/VideoService.java
  backend/api-server/src/main/java/com/wizard/api_server/external/kafka/video/VideoLinkProducer.java
Labels: ♻️refactor, 🌱 api-server, 🔒 backend

#17 [BE/API] SSE 를 통해 프론트엔드와 연결한다.
  backend/api-server/Readme.md
  backend/api-server/build.gradle
  backend/api-server/src/main/java/com/wizard/api_server/web/config/WebConfig.java
  backend/api-server/src/main/java/com/wizard/api_server/web/sse/SseController.java
  backend/api-server/src/main/java/com/wizard/api_server/web/sse/SseEmitters.java
  backend/api-server/src/main/resources/application.yml
Labels: ⚙️config, ✨feature, 🌱 api-server, 🔒 backend

#21 [BE/API] Kafka 브로커에서 Consume 후 메시지를 SSE 로 전송한다.
  backend/api-server/src/main/java/com/wizard/api_server/common/event/VideoCommentaryEvent.java
  backend/api-server/src/main/java/com/wizard/api_server/external/kafka/video/VideoCommentaryConsumer.java
  backend/api-server/src/main/java/com/wizard/api_server/web/sse/.gitkeep
  backend/api-server/src/main/java/com/wizard/api_server/web/sse/SseEmitters.java
  backend/api-server/src/main/java/com/wizard/api_server/web/sse/VideoCommentaryEventListener.java
Labels: ✨feature, 🌱 api-server, 🔒 backend

#25 [FE] VideoPlayer 컴포넌트에서 EventSource 로 API 서버와 연결한다.
  frontend/components/VideoPlayer.vue
  frontend/package-lock.json
  frontend/package.json
Labels: ✨feature, 🖥️ frontend

#29 [BE/STT] 텍스트를 바로 chunk로 분할하는 것이 아니라 텍스트 파일을 저장하고 텍스트를 분할한다.
  backend/stt-server/app/orchestrator/message_processor.py
  backend/stt-server/app/transcription_service/youtube_caption_downloader.py
Labels: ♻️refactor, 🔒 backend, 📑 stt-server

#31 [BE/STT] kafka consumer는 message를 소비하고 message processor를 통해 처리한다.
  backend/stt-server/app/kafka/consumers/kafka_consumer.py
  backend/stt-server/app/main.py
  backend/stt-server/app/transcription_service/youtube_caption_downloader.py
Labels: ✨feature, 🔒 backend, 📑 stt-server, 🔄 kafka

#33 [BE/STT] message_processor는 자막 텍스트를 청크로 쪼개고 청크개수와 함께 Initiate message를 발행한다.
  backend/stt-server/app/domain/kafka_message/initialize_llm_request_message.py
  backend/stt-server/app/kafka/consumers/kafka_consumer.py
  backend/stt-server/app/kafka/kafka_config.py
  backend/stt-server/app/kafka/producers/kafka_producer_manager.py
  backend/stt-server/app/main.py
  backend/stt-server/app/orchestrator/message_processor.py
  backend/stt-server/app/orchestrator/orchestrator.py
Labels: ✨feature, 🔒 backend, 📑 stt-server, 🔄 kafka

#36 [BE/LLM] assistant api service는 gpt api에 요청을 보내고 event를 처리한다.
  backend/llm-server/app/openai/__init__.py
  backend/llm-server/app/openai/api_event_handler.py
  backend/llm-server/app/openai/assistant_api_utils.py
  backend/llm-server/app/text_utils/__init__.py
  backend/llm-server/app/text_utils/text_utils.py
  backend/stt-server/app/main.py
  backend/stt-server/app/orchestrator/message_processor.py
  backend/stt-server/app/transcription_service/youtube_caption_downloader.py
Labels: ✨feature, 🔒 backend, 💬 llm-server

#40 [FE] 영상 재생 화면에서 Video 사이즈를 줄이고 노트 크기를 늘린다.
  frontend/components/AppHeader.vue
  frontend/components/CommentaryNote.vue
  frontend/components/CommentarySidebar.vue
  frontend/components/CommentaryToolbar.vue
  frontend/components/MainInput.vue
  frontend/components/NoteControls.vue
  frontend/components/ScrollableContent.vue
  frontend/components/VideoControls.vue
  frontend/composables/useIsMobile.ts
  frontend/pages/video.vue
Labels: ✨feature, 🖥️ frontend

#42 [FE] 영상 사이즈는 화면 크기에 따른 반응형이어야 한다.
  frontend/components/VideoPlayer.vue
  frontend/stores/videoStore.ts
Labels: ✨feature, 🖥️ frontend

#45 [FE] 브라우저의 하나의 탭에서만 영상이 재생되도록 탭간 동기화를 구현한다.
  frontend/components/VideoPlayer.vue
  frontend/composables/useTabSync.ts
  frontend/pages/video.vue
Labels: ✨feature, 🖥️ frontend

#49 [FE] 비디오가 준비되기 전 로딩 컴포넌트로 로드되고 있음을 표시한다.
  frontend/components/VideoPlayer.vue
Labels: ✨feature, 🖥️ frontend

#53 [FE] VideoId, 사용자수준을 입력받아 api 서버에 요청한다.
  frontend/components/MainInput.vue
  frontend/middleware/check-video-url.ts
  frontend/nuxt.config.ts
  frontend/pages/index.vue
  frontend/pages/video.vue
  frontend/stores/commentaryStore.ts
  frontend/stores/noteStore.ts
  frontend/stores/videoStore.ts
Labels: ✨feature, 🖥️ frontend

#56 [FE] SSE 로 받아온 영상 해설을 렌더링한다.
  frontend/components/MainInput.vue
  frontend/components/VideoPlayer.vue
  frontend/composables/useCreateHtml.ts
  frontend/middleware/check-video-url.ts
  frontend/pages/video.vue
  frontend/stores/commentaryStore.ts
  frontend/stores/videoStore.ts
Labels: ✨feature, 🖥️ frontend

#47 [BE/LLM] message processor는 message요청을 처리한다.
  backend/llm-server/app/__init__.py
  backend/llm-server/app/message_processor/__init__.py
  backend/llm-server/app/message_processor/message_processor.py
  backend/llm-server/app/openai_service/EnhancedExplanationEventHandler.py
  backend/llm-server/app/openai_service/ExplanationEventHandler.py
  backend/llm-server/app/openai_service/FeedbackEventHandler.py
  backend/llm-server/app/openai_service/IndexEventHandler.py
  backend/llm-server/app/openai_service/__init__.py
  backend/llm-server/app/openai_service/api_event_handler.py
  backend/llm-server/app/openai_service/assistant_api_utils.py
Labels: ✨feature, 🔒 backend, 💬 llm-server

#63 [BE/LLM] event handler들을 별도의 패키지로 분리한다.
  backend/llm-server/app/kafka/__init__.py
  backend/llm-server/app/kafka/consumer/__init__.py
  backend/llm-server/app/kafka/consumer/kafka_consumer.py
  backend/llm-server/app/kafka/producer/AsyncKafkaProducer.py
  backend/llm-server/app/kafka/producer/__init__.py
  backend/llm-server/app/lifespan.py
  backend/llm-server/app/main.py
  backend/llm-server/app/message_processor/message_processor.py
  backend/llm-server/app/openai_service/assistant_api_utils.py
  backend/llm-server/app/openai_service/event_handler/__init__.py
  backend/llm-server/app/openai_service/event_handler/api_event_handler.py
  backend/llm-server/app/openai_service/event_handler/enhandced_event_handler.py
  backend/llm-server/app/openai_service/event_handler/explanation_event_handler.py
  backend/llm-server/app/openai_service/event_handler/feedback_event_handler.py
  backend/llm-server/app/openai_service/event_handler/index_event_handler.py
  backend/stt-server/app/transcription_service/youtube_caption_downloader.py
Labels: ♻️refactor, 🔒 backend, 💬 llm-server

#69 [BE/LLM] 메시지 처리 event handler에 kafka produce를 추가한다.
  backend/llm-server/app/domain/kafka_message/llm_result_message.py
  backend/llm-server/app/domain/kafka_message/stt_chunk_result_message.py
  backend/llm-server/app/kafka/consumer/kafka_consumer.py
  backend/llm-server/app/kafka/kafka_config.py
  backend/llm-server/app/kafka/producer/AsyncKafkaProducer.py
  backend/llm-server/app/lifespan.py
  backend/llm-server/app/message_processor/message_processor.py
  backend/llm-server/app/openai_service/assistant_api_utils.py
  backend/llm-server/app/openai_service/event_handler/enhanced_event_handler.py
  backend/llm-server/app/openai_service/event_handler/explanation_event_handler.py
  backend/llm-server/app/openai_service/event_handler/feedback_event_handler.py
  backend/llm-server/app/openai_service/event_handler/index_event_handler.py
  backend/llm-server/app/text_utils/text_utils.py
Labels: ✨feature, 🔒 backend, 💬 llm-server, 🔄 kafka

#61 [BE/STT] transcription 저장 형식을 변경한다.
  backend/llm-server/app/kafka/consumer/kafka_consumer.py
  backend/llm-server/app/lifespan.py
  backend/llm-server/app/message_processor/message_processor.py
  backend/llm-server/app/openai_service/assistant_api_utils.py
  backend/llm-server/app/openai_service/event_handler/explanation_event_handler.py
  backend/llm-server/app/openai_service/event_handler/feedback_event_handler.py
Labels: ⚙️config, 🔒 backend, 📑 stt-server

#65 [BE/LLM] transcription 저장 format을 변경한다.
  backend/llm-server/app/kafka/consumer/kafka_consumer.py
  backend/llm-server/app/lifespan.py
  backend/llm-server/app/message_processor/message_processor.py
  backend/llm-server/app/openai_service/assistant_api_utils.py
Labels: ✨feature, 🔒 backend, 💬 llm-server

#67 [BE/LLM] 초기 메시지를 먼저 처리하도록 구현한다.
  backend/llm-server/app/kafka/consumer/kafka_consumer.py
  backend/llm-server/app/lifespan.py
  backend/llm-server/app/message_processor/message_processor.py
  backend/llm-server/app/openai_service/event_handler/feedback_event_handler.py
  backend/llm-server/app/openai_service/event_handler/index_event_handler.py
Labels: ♻️refactor, 🛠️bugfix, 🔒 backend, 💬 llm-server

#71 [BE/LLM] 패키지 목록을 업데이트 한다.
  backend/llm-server/app/kafka/consumer/kafka_consumer.py
  backend/llm-server/app/lifespan.py
  backend/llm-server/app/message_processor/message_processor.py
  backend/llm-server/app/openai_service/assistants_config.py
  backend/llm-server/app/openai_service/event_handler/feedback_event_handler.py
  backend/llm-server/app/text_utils/text_utils.py
  backend/stt-server/app/kafka/consumers/kafka_consumer.py
  backend/stt-server/app/main.py
  backend/stt-server/app/orchestrator/message_processor.py
  backend/stt-server/app/transcription_service/youtube_caption_downloader.py
  backend/stt-server/requirements.txt
Labels: ⚙️config, 🔒 backend, 💬 llm-server

#77 [FE] 목차를 받아 화면에 렌더링한다.
  frontend/components/note/index/IndexContent.vue
  frontend/components/note/index/IndexTitle.vue
  frontend/components/note/index/NoteIndex.vue
  frontend/components/note/video/NoteVideo.vue
  frontend/stores/indexStore.ts
Labels: ✨feature, 🖥️ frontend

#80 [FE] 컴포넌트들끼리 관련있는 그룹별로 나누어 관리한다.
  frontend/assets/global.css
  frontend/assets/styles/variables.scss
  frontend/components/AppHeader.vue
  frontend/components/MainTitle.vue
  frontend/components/layout/AppHeader.vue
  frontend/components/main/MainInput.vue
  frontend/components/main/MainTitle.vue
  frontend/components/note/commentary/CommentaryContent.vue
  frontend/components/note/commentary/CommentaryItem.vue
  frontend/components/note/commentary/CommentaryToolbar.vue
  frontend/components/note/commentary/NoteCommentary.vue
  frontend/components/note/commentary/NoteControls.vue
  frontend/components/note/commentary/VideoControls.vue
  frontend/composables/useIsMobile.ts
  frontend/layouts/default.vue
  frontend/nuxt.config.ts
  frontend/pages/index.vue
  frontend/pages/note/index.vue
  frontend/pages/video.vue
  frontend/public/favicon.ico
  frontend/public/logo.png
  frontend/public/main-title.png
  frontend/stores/videoStore.ts
Labels: ♻️refactor, 🖥️ frontend

#81 [FE] 화면 구성을 위한 mock server 를 추가한다.
  frontend/server/api/sse.ts
  frontend/server/models/commentary.ts
  frontend/server/models/noteIndex.ts
Labels: 🖥️ frontend

#82 [BE] Kafka 브로커로부터 목차 데이터를 Consume 후 SSE 로 전달한다.
  backend/api-server/src/main/java/com/wizard/api_server/common/event/CreateNoteIndexEvent.java
  backend/api-server/src/main/java/com/wizard/api_server/domain/note/service/NoteService.java
  backend/api-server/src/main/java/com/wizard/api_server/external/kafka/config/KafkaConsumerConfig.java
  backend/api-server/src/main/java/com/wizard/api_server/external/kafka/note/NoteIndexConsumer.java
  backend/api-server/src/main/java/com/wizard/api_server/external/kafka/note/NoteInfoProducer.java
  backend/api-server/src/main/java/com/wizard/api_server/external/kafka/note/dto/NoteIndex.java
  backend/api-server/src/main/java/com/wizard/api_server/web/config/WebConfig.java
  backend/api-server/src/main/java/com/wizard/api_server/web/note/controller/NoteController.java
  backend/api-server/src/main/java/com/wizard/api_server/web/note/sse/NoteEventListener.java
  backend/api-server/src/main/java/com/wizard/api_server/web/note/sse/SseController.java
  backend/api-server/src/main/java/com/wizard/api_server/web/note/sse/SseEmitters.java
Labels: ✨feature, 🌱 api-server, 🔒 backend, 🔄 kafka

#86 [BE/API] 불필요한 파일들을 삭제한다.
  backend/api-server/src/main/java/com/wizard/api_server/common/event/CreateNoteIndexEvent.java
  backend/api-server/src/main/java/com/wizard/api_server/external/kafka/note/NoteIndexConsumer.java
  backend/api-server/src/main/java/com/wizard/api_server/external/kafka/note/dto/NoteIndex.java
Labels: 🌱 api-server, 🔒 backend

#88 [BE/API] 노트 데이터 저장을 위해 MongoDB를 추가한다.
  backend/api-server/core/core-api/build.gradle
  backend/api-server/settings.gradle
  backend/api-server/storage/db-mongo/src/main/resources/application.yml
  backend/docker/docker-compose.yml
Labels: ⚙️config, 🌱 api-server, 🔒 backend

#96 [BE/API] 노트 조회, 존재여부 확인 메서드를 추가한다.
  backend/api-server/core/core-enum/build.gradle
  backend/api-server/core/core-enum/src/main/java/com/technote/core/enums/UserLevel.java
  backend/api-server/storage/db-mongo/build.gradle
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/Note.java
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/NoteRepository.java
  backend/api-server/storage/db-mongo/src/test/java/com/technote/storage/mongo/DbMongoTestApplication.java
  backend/api-server/storage/db-mongo/src/test/java/com/technote/storage/mongo/core/NoteRepositoryTest.java
Labels: ✨feature, 🌱 api-server, 🔒 backend

#90 [BE/LLM] 설명 레벨별 프롬프트를 로드할 수 있게 한다.
  .gitignore
  backend/llm-server/app/domain/kafka_message/llm_result_message.py
  backend/llm-server/app/kafka/kafka_config.py
  backend/llm-server/app/message_processor/instructions/__init__.py
  backend/llm-server/app/message_processor/instructions/instructions.py
  backend/llm-server/app/message_processor/message_processor.py
  backend/llm-server/app/openai_service/event_handler/enhanced_event_handler.py
Labels: ♻️refactor, 🔒 backend, 💬 llm-server

#92 [BE/LLM] kafka message 필드 구조를 수정한다.
  backend/llm-server/app/domain/kafka_message/llm_request_message.py
  backend/llm-server/app/message_processor/message_processor.py
  backend/llm-server/app/openai_service/event_handler/enhanced_event_handler.py
  backend/llm-server/app/openai_service/event_handler/explanation_event_handler.py
  backend/llm-server/app/openai_service/event_handler/feedback_event_handler.py
  backend/llm-server/app/openai_service/event_handler/index_event_handler.py
  backend/llm-server/app/text_utils/text_utils.py
  backend/stt-server/app/domain/kafka_message/stt_message.py
  backend/stt-server/app/domain/kafka_message/stt_request_message.py
  backend/stt-server/app/kafka/kafka_config.py
  backend/stt-server/app/orchestrator/message_processor.py
  backend/stt-server/test/orchestrator/transcripts/-oK0LGIFblU&list=PL2yQDdvlhXf-b4hbQhg2iTwU-ot2knOzh_en.json
Labels: ♻️refactor, 🔒 backend, 💬 llm-server, 🔄 kafka

#94 [BE/LLM] lifespan에서 서버 초기화 과정과 consumer 함수를 분리한다.
  .gitignore
  backend/llm-server/app/kafka/consumer/kafka_consumer.py
  backend/llm-server/app/kafka/kafka_config.py
  backend/llm-server/app/kafka/producer/AsyncKafkaProducer.py
  backend/llm-server/app/lifespan.py
  backend/llm-server/app/openai_service/assistant_api_utils.py
  backend/llm-server/app/openai_service/assistant_manager.py
Labels: ♻️refactor, 🔒 backend, 💬 llm-server

#100 [BE/API] 공통에러/응답 처리 기능을 추가한다.
  backend/api-server/core/core-api/src/main/java/com/technote/ApiServerApplication.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/support/GlobalExceptionHandler.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/support/error/CustomException.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/support/error/ErrorCode.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/support/error/ErrorMessage.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/support/error/ErrorType.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/support/response/ApiResponse.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/support/response/ResultType.java
Labels: ✨feature, 🌱 api-server, 🔒 backend

#103 [BE/API] null 값 매핑 오류를 해결한다.
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/implement/NoteStorageHandler.java
Labels: 🛠️bugfix, 🌱 api-server, 🔒 backend

#105 [BE/API] Session을 도입해 SSE 연결에서 브라우저를 식별할 수 있도록 한다.
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/NoteService.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/NoteSseService.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/implement/NoteEventPublisher.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/implement/SseEmitterManager.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/implement/SseEventSender.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/web/controller/NoteController.java
  backend/api-server/core/core-api/src/main/resources/application.yml
Labels: ✨feature, 🌱 api-server, 🔒 backend

#107 [BE/API] 컨벤션에 맞게 Topic명, Produce, Consume 데이터 형식을 변경한다.
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/config/KafkaConsumerConfig.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/consumer/NoteCommentaryConsumer.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/consumer/NoteOutlineConsumer.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/dto/NoteCommentaryDto.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/dto/NoteInfoDto.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/dto/NoteOutlineDto.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/event/CreateNoteCommentaryEvent.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/event/CreateNoteOutlineEvent.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/mapper/NoteEventMapper.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/producer/NoteInfoProducer.java
Labels: ♻️refactor, 🌱 api-server, 🔒 backend

#109 [BE/API] Spring EventListener 에서 Publish한 메시지를 받지 못하는 버그를 수정한다.
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/CreateNoteContentEvent.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/CreateNoteIndexEvent.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/NoteEventListener.java
Labels: 🛠️bugfix, 🌱 api-server, 🔒 backend

#119 [FE] 메인페이지로 전환시 이전 노트 정보를 초기화한다.
  frontend/components/layout/AppHeader.vue
  frontend/components/main/MainInput.vue
  frontend/components/note/outline/NoteOutline.vue
  frontend/components/note/outline/OutlineContent.vue
  frontend/components/note/outline/OutlineTitle.vue
  frontend/components/note/video/NoteVideo.vue
  frontend/composables/useEventSource.ts
  frontend/composables/useResetStore.ts
  frontend/pages/index.vue
  frontend/pages/note/index.vue
  frontend/stores/commentaryStore.ts
  frontend/stores/indexStore.ts
  frontend/stores/noteStore.ts
  frontend/stores/outlineStore.ts
  frontend/stores/videoStore.ts
  frontend/types/commentary.ts
Labels: ✨feature, 🖥️ frontend

#122 [FE] 툴바에 노트 생성 상태를 표시한다.
  frontend/assets/global.css
  frontend/assets/global.scss
  frontend/components/note/commentary/CommentaryToolbar.vue
  frontend/components/note/video/NoteVideo.vue
  frontend/composables/useAutoDisplayCommentary.ts
  frontend/composables/useEventSource.ts
  frontend/nuxt.config.ts
  frontend/stores/commentaryStore.ts
  frontend/stores/noteStore.ts
  frontend/stores/outlineStore.ts
Labels: ✨feature, 🖥️ frontend

#123 [BE/LLM] enhanced_explanation_handler가 startTime을 추가해 발행한다.
  backend/llm-server/app/domain/kafka_message/llm_index_message.py
  backend/llm-server/app/domain/kafka_message/llm_result_message.py
  backend/llm-server/app/message_processor/instructions/instructions.py
  backend/llm-server/app/message_processor/message_processor.py
  backend/llm-server/app/openai_service/event_handler/enhanced_event_handler.py
  backend/llm-server/app/openai_service/event_handler/index_event_handler.py
  backend/llm-server/app/text_utils/text_utils.py
  backend/llm-server/package-lock.json
  backend/llm-server/requirements.txt
  backend/stt-server/app/kafka/consumers/kafka_consumer.py
  backend/stt-server/transcripts/bIu8XZZROw4_en.json
  backend/stt-server/transcripts/cOQClEYryvU_en.json
  backend/stt-server/transcripts/sdCA0Y7QDrM_en.json
Labels: ✨feature, 🔒 backend, 💬 llm-server, 🔄 kafka

#124 [BE/API] 목차, 해설이 업데이트되면 mongodb 에 저장한다.
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/config/KafkaConsumerConfig.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/consumer/NoteCommentaryConsumer.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/consumer/NoteCommentaryDto.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/consumer/NoteOutlineConsumer.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/consumer/NoteOutlineDto.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/dto/NoteCommentaryDto.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/event/CreateNoteCommentaryEvent.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/event/CreateNoteOutlineEvent.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/mapper/NoteEventMapper.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/producer/NoteInfoDto.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/producer/NoteInfoProducer.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/NoteEventListener.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/implement/NoteEventPublisher.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/implement/NoteStorageHandler.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/implement/NoteVO.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/web/dto/NoteHttpResponse.java
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/Note.java
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/NoteCustomRepository.java
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/NoteCustomRepositoryImpl.java
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/NoteRepository.java
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/config/MongoConfig.java
  backend/api-server/storage/db-mongo/src/main/resources/application-test.yml
  backend/api-server/storage/db-mongo/src/main/resources/application.yml
  backend/api-server/storage/db-mongo/src/test/java/com/technote/storage/mongo/core/NoteRepositoryTest.java
Labels: ✨feature, 🌱 api-server, 🔒 backend

#128 Chore/127
  README.md
  backend/api-server/Dockerfile
Labels: 🌱 api-server, 🔒 backend

#130 [BE/API] 프로파일별 설정을 분리한다.
  backend/api-server/build.gradle
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/config/KafkaConsumerConfig.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/config/KafkaProducerConfig.java
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/consumer/NoteCommentaryConsumer.java
  backend/api-server/clients/client-kafka/src/main/resources/client-kafka.yml
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/NoteEventListener.java
  backend/api-server/core/core-api/src/main/resources/application.yml
  backend/api-server/storage/db-mongo/build.gradle
  backend/api-server/storage/db-mongo/src/main/resources/db-mongo.yml
  backend/api-server/storage/db-mongo/src/test/java/com/technote/storage/mongo/core/NoteRepositoryTest.java
  backend/api-server/storage/db-mongo/src/test/resources/application.yml
Labels: ⚙️config, 🌱 api-server, 🔒 backend

#134 [BE/API] 노트 생성 완료 로직을 추가한다.
  backend/api-server/clients/client-kafka/src/main/java/com/technote/client/kafka/mapper/NoteEventMapper.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/NoteEventListener.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/implement/NoteStorageHandler.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/implement/SseEventSender.java
  backend/api-server/core/core-api/src/test/java/com/technote/core/domain/note/business/NoteEventListenerTest.java
  backend/api-server/core/core-api/src/test/java/com/technote/core/domain/note/business/NoteServiceTest.java
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/Note.java
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/NoteCustomRepository.java
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/NoteCustomRepositoryImpl.java
  backend/api-server/storage/db-mongo/src/test/java/com/technote/storage/mongo/core/NoteRepositoryTest.java
Labels: ✨feature, ✅test, 🌱 api-server, 🔒 backend

#136 [FE] 해설 업로드 진행상황을 표시한다.
  frontend/assets/global.scss
  frontend/assets/styles/variables.scss
  frontend/components/layout/AppHeader.vue
  frontend/components/note/commentary/CommentaryContent.vue
  frontend/components/note/commentary/CommentaryItem.vue
  frontend/components/note/commentary/CommentaryProgressBar.vue
  frontend/components/note/commentary/CommentaryToolbar.vue
  frontend/components/note/video/NoteVideo.vue
  frontend/composables/useEventSource.ts
  frontend/stores/commentaryStore.ts
  frontend/stores/noteStore.ts
Labels: ✨feature, 🖥️ frontend

#140 [FE] 메인페이지에서 생성된 노트 목록을 보여줄 수 있도록 디자인한다.
  frontend/assets/global.scss
  frontend/components/main/MainInput.vue
  frontend/components/main/MainNotes.vue
  frontend/pages/index.vue
Labels: ✨feature, 🖥️ frontend

#142 [BE/API] 생성 완료된 노트들을 커서기반 조회 후 반환한다.
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/NoteEventListener.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/NoteService.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/dto/PagedNotePreviewsDto.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/implement/NoteStorageHandler.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/vo/NotePreviewVO.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/vo/NoteVO.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/web/controller/NoteController.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/web/dto/PagedNotePreviewsHttpResponse.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/web/mapper/NoteHttpMapper.java
  backend/api-server/core/core-api/src/test/java/com/technote/core/domain/note/business/NoteEventListenerTest.java
  backend/api-server/core/core-api/src/test/java/com/technote/core/domain/note/business/NoteServiceTest.java
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/NoteCustomRepository.java
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/NoteCustomRepositoryImpl.java
  backend/api-server/storage/db-mongo/src/test/java/com/technote/storage/mongo/core/NoteRepositoryTest.java
Labels: ✨feature, 🌱 api-server, 🔒 backend

#144 [FE] 메인페이지 무한스크롤 방식으로 전체 노트를 받아온다.
  frontend/components/main/MainNotes.vue
Labels: ✨feature, 🖥️ frontend

#148 [BE/API] 외부 API를 이용해 노트 제목에 해당하는 title을 받아온다.
  backend/api-server/Dockerfile
  backend/api-server/build.gradle
  backend/api-server/clients/client-feign/src/main/java/com/technote/client/feign/FeignConfig.java
  backend/api-server/clients/client-feign/src/main/java/com/technote/client/feign/VideoTitleApi.java
  backend/api-server/clients/client-feign/src/main/java/com/technote/client/feign/VideoTitleClient.java
  backend/api-server/clients/client-feign/src/main/java/com/technote/client/feign/VideoTitleResponse.java
  backend/api-server/clients/client-feign/src/main/java/com/technote/client/feign/model/NoteTitleResult.java
  backend/api-server/clients/client-feign/src/test/java/com/technote/client/feign/ClientFeignTestApplication.java
  backend/api-server/clients/client-feign/src/test/java/com/technote/client/feign/VideoTitleClientTest.java
  backend/api-server/clients/client-feign/src/test/resources/application-test.yml
  backend/api-server/core/core-api/build.gradle
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/NoteService.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/implement/NoteStorageHandler.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/web/controller/NoteController.java
  backend/api-server/settings.gradle
Labels: ✨feature, 🌱 api-server, 🔒 backend

#150 [BE/API] client-feign 모듈의 누락된 build.gradle 을 업로드한다.
  backend/api-server/clients/client-feign/build.gradle
  backend/api-server/clients/client-feign/src/main/java/com/technote/client/feign/FeignConfig.java
  backend/api-server/settings.gradle
Labels: ⚙️config, 🌱 api-server, 🔒 backend

#151 [FE] 영상이 1개일 때 전체 노트보기 배치를 조정한다.
  frontend/components/main/MainNotes.vue
Labels: 🛠️bugfix, 🖥️ frontend, 🖌️design

#152 [FE] 노트가 생성중일 때 매인페이지 이동 후 재방문하는 경우 생성 퍼센티지가 NaN 으로 표시되는 버그를 고친다.
  frontend/components/note/commentary/CommentaryItem.vue
  frontend/components/note/commentary/CommentaryProgressBar.vue
  frontend/components/note/video/NoteVideo.vue
  frontend/composables/useEventSource.ts
  frontend/stores/commentaryStore.ts
  frontend/stores/noteStore.ts
  frontend/stores/sseStore.ts
  frontend/types/commentary.ts
Labels: 🛠️bugfix, 🖥️ frontend

#154 [FE] 해상도에 따른 video 썸네일을 받아올 수 없는 경우에 대한 처리를 추가한다.
  frontend/components/main/MainNotes.vue
Labels: 🛠️bugfix, 🖥️ frontend

#160 [FE] 노트 페이지에서 해설 수준별로 전환하는 기능을 추가한다.
  frontend/assets/global.scss
  frontend/components/main/MainInput.vue
  frontend/components/main/MainNotes.vue
  frontend/components/note/commentary/CommentaryItem.vue
  frontend/components/note/commentary/CommentaryProgressBar.vue
  frontend/components/note/commentary/CommentaryToolbar.vue
  frontend/components/note/commentary/NoteControls.vue
  frontend/components/note/outline/OutlineTitle.vue
  frontend/components/note/video/NoteVideo.vue
  frontend/composables/useEventSource.ts
  frontend/composables/useInitNote.ts
  frontend/pages/note/index.vue
  frontend/stores/noteStore.ts
Labels: ✨feature, 🖥️ frontend, 🖌️design

#162 [BE/API] 노트 생성 상태를 세분화한다.
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/NoteEventListener.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/NoteService.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/business/NoteSseService.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/implement/NoteStorageHandler.java
  backend/api-server/core/core-api/src/main/java/com/technote/core/domain/note/implement/SseEventSender.java
  backend/api-server/core/core-enum/src/main/java/com/technote/core/enums/NoteStatus.java
  backend/api-server/core/core-enum/src/main/java/com/technote/core/enums/SseName.java
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/NoteCustomRepository.java
  backend/api-server/storage/db-mongo/src/main/java/com/technote/storage/mongo/core/NoteCustomRepositoryImpl.java
  docker/local-dev/infra/docker-compose.yml
Labels: 🌱 api-server, 🔒 backend, 🔮 enhancement
